<!-- templates/list_folders.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Pilih Folder Galeri</title>
    <link rel="stylesheet" href="/static/style.css?v=20240726">
</head>
<body>
<header class="header-container">
    <div class="header-left">
        <h1>Pilih Folder</h1>
        <span class="user-greeting">Halo, {{ username }}</span>
    </div>
    <div class="header-right">
        <a href="/logout" onclick="return confirm('Logout?');" class="logout-button">
            ➡️ Logout
        </a>
    </div>
</header>

    <ul class="folder-list">
        {% for folder in folders %}
        <li><a href="/gallery/{{ folder }}">{{ folder }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>